################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Buscandomitrago.Application/bin/Debug/net8.0
/Buscandomitrago.Application/obj
/Buscandomitrago.Domain/bin/Debug/net8.0
/Buscandomitrago.Domain/obj
/Buscandomitrago.Infraestructure/bin/Debug/net8.0
/Buscandomitrago.Infraestructure/obj
/Buscando_Mi_Trago_Web/bin/Debug
/Buscando_Mi_Trago_Web/obj
/.vs
